<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.w3effects.groupmess.groupmess">

    <!-- Push Notification -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:protectionLevel="signature"
        android:name="com.w3effects.groupmess.groupmess.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.w3effects.groupmess.groupmess.permission.C2D_MESSAGE" />
    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Groupmessage">

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/ic_stat_mad_icon" />

        <activity
            android:name="ui.MyActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"></activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.w3effects.groupmess.groupmess.LoginActivity" />
        </activity>
        <activity
            android:name="teachers.SemesterSelectActivity"
            android:label="@string/title_activity_semester_select"
            android:parentActivityName="ui.MyActivity"></activity>
        <activity
            android:name="students.TeacherSelectActivity"
            android:label="@string/title_activity_teacher_select"
            android:parentActivityName="ui.MyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.w3effects.groupmess.groupmess.MyActivity" />
        </activity>
        <activity
            android:name="students.StudentPreferenceActivity"
            android:label="@string/settings"
            android:parentActivityName="ui.MyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.w3effects.groupmess.groupmess.MyActivity" />
        </activity>
        <activity
            android:name="teachers.NewMessageActivity"
            android:label="@string/title_activity_new_message"></activity>
        <activity
            android:name="ui.ViewMessageInbox"
            android:label="@string/title_activity_view_message"
            android:parentActivityName="ui.MyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.w3effects.groupmess.groupmess.MyActivity" />
        </activity>
        <activity
            android:name="students.StudentNewMessage"
            android:label="@string/title_activity_student_new_message"></activity>

        <activity
            android:name="ui.ViewMessageSent"
            android:label="@string/title_activity_view_message_sent"
            android:parentActivityName="ui.MyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ui.MyActivity" />
        </activity>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Receiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />


                <category android:name="com.w3effects.groupmess.groupmess" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
